{
    "presets": [
        ["es2015", {
            "modules": false,// 关闭 babel 对 es module 的处理
            "targets": { // 目标运行环境
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
        }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
//         "transform-runtime",
        ["transform-runtime", {
            "helpers": false,//表示是否开启内联的babel helpers(即babel或者环境本来的存在的垫片或者某些对象方法函数) default:true
            "polyfill": false,//表示是否把内置的东西(Promise,Set,Map,tec)转换成非全局污染垫片。default:true
            "regenerator": true,//是否开启generator函数转换成使用regenerator runtime来避免污染全局域。default:true
            "moduleName": "babel-runtime"//当调用辅助（内置垫片）设置模块（module）名字/路径 default:babel-runtime
        }],
        "syntax-dynamic-import" // 异步加载语法编译插件
    ],
    "comments": false,//删除注释
    "env": {
        // test 是提前设置的环境变量，如果没有设置BABEL_ENV则使用NODE_ENV，如果都没有设置默认就是developmen
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            // instanbul是一个用来测试转码后代码的工具
            "plugins": [
                "istanbul"
            ]
        }
    }
}
