{
    "presets": [
        ["es2015", {
            "modules": false
        }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "syntax-dynamic-import" // 异步加载语法编译插件
    ]
}
